@page "/nuts"
<h3>Nuts</h3>
@using WordleSolver.Data.Wordle;
<button @onclick="()=>board.Reset()">Reset Data</button>
<table id="table">
    <tbody>
        @foreach (var row in board.Rows)
        {
            <tr class="@row.CssClass">
                <td scope="col">
                    <button @onclick="()=>board.EnterWord(row)">Insert Text</button>
                </td>
                @foreach (var cell in row.Letters)
                {
                    <td>

                        <button class="@cell.CssClass" @onclick="()=>row.ClickedCell(cell)">@cell.Value</button>
                    </td>
                }
                <td>
                    <button @onclick="()=>board.Calculate(row)">Calculate</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (board.Words == null)
{
    <p>
        Loading...maybe 
    </p>
}
else
{
    @foreach (var item in board.Words)
    {
        <p>
            @item.Value
        </p>
    }
}

@code {
    IBoard board = new Board();
    protected override async Task OnInitializedAsync()
    {
      await board.LoadData();
    }

}
