@page "/test"

@using System.IO
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.Storage
@using WordleSolver.Data
@using System.Diagnostics;
@inject ReadFileService ReadFile
<h1>Static Asset Example</h1>

@if( list == null)
{
    <p>okading</p>
}
else
{
    
@foreach (var item in list)
{
    @item.StringWord
    @item.GetType()
}
}
@code {
    public List<Word> list;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            list = await ReadFileService.GetWordsListAsync("words.txt");
            list = await ReadFileService.GetWordsListAsync("words.txt");

        }
        catch (FileNotFoundException e)
        {
        }
    }
}