<figure>
  <blockquote class="blockquote">
    <p><h4>@Title</h4></p>
  </blockquote>
  <figcaption class="blockquote-footer">
      @Description
  </figcaption>
</figure>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
}
