.container {
    width: 540px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    margin-top: 15px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 6px;
}

.flip {
    animation: flip 500ms ease forwards;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 5px;
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: black;
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 6px;
    }
}

.unflip {
    animation: unflip 500ms ease forwards;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
        background: var(--loading-fill-from, rgb(105,105,105));
    }
}

@keyframes unflip {
    0% {
        background: var(--loading-fill-from, rgb(105,105,105));
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
